blas
boto3
botocore
bottleneck
brotlipy
ca-certificates
certifi
cffi
cryptography
et-xmlfile
idna
intel-openmp
jmespath
libcxx
libffi
mkl
mkl-service
mkl_fft
mkl_random
ncurses
numexpr
numpy
numpy-base
openpyxl
openssl
packaging
pandas
pip
pycparser
pyopenssl
pyparsing
pysocks
python
python-dateutil
pytz
readline
s3transfer
setuptools
six
sqlite
tk
tzdata
urllib3
wheel
xz
zlib
